$font-family: 'Montserrat', sans-serif;

$blue: #0B52AE; 
$grey: #BFBFBF;
$darkGrey: #BFBEBE;
$vanilla: #F8F8F8;
$black: #111111; 

$primary-color: $blue;
$primary-hover-color: darken($blue, 10);
$secondary-color: $grey;
$background-color: $vanilla;
$text-color: $black;
$brand-color: $darkGrey;

$border-default: 32px;

$cubic-bezier: cubic-bezier(.2,.36,.79,.59);;

$breakpoint-desktop: 1440px;
$breakpoint-mobile: 750px;

$gutter: 1rem;

$container-gutter: $gutter * 2;
$container-margin-extra: 20vw;

$container-width: 1440px;
$container-width-sm: 1350px;
$container-width-xl: 2000px;