.intro {
    width: 100%;
    padding: 6rem 0;

    @include mobile {
        padding: 2rem 0;
    }

    .title {
        margin-bottom: $container-gutter;
    }
}

.intro__content {
    width: 100%;
    max-width: 600px;
    word-break: break-word;

    &+.btn {
        margin-top: 2rem; 
    }
}
.visual {
    position: relative;
    // padding-bottom: 70%;
    height: 100%;
    overflow: hidden;

    img {
        @include pos-abs;
        height: 100%;
    }

    @include mobile {
        padding-top: 60%;
    }
}

.about__top {
    margin-bottom: 6rem;

    @include mobile {
        margin: 0;
    }
}

.about__list {
    margin-top: 3rem;

    &-item {
        margin-bottom: 1rem;

        &::before {
            content: '';
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $primary-color;
            margin-right: 1rem;
        }
    }
}

.specialties {
    display: block;
    height: 500px;

    @include mobile {
        height: auto;
    }
}


.specialties__card-list { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: $container-gutter*2 0;

    & .card {
        flex-basis: calc(25% - 32px);
        margin-right: $container-gutter;

        @include mobile {
            margin-top: 2rem;
            margin-right: 0;
            flex-basis: 100%;
        }
    }

    @include mobile {
        margin: 0;
    }
}


.references__brands {
    margin-top: 60px;

    @include mobile {
        margin-top: $gutter;
    }
}

.swiper-wrapper {
    align-items: center;
    transition-timing-function: linear;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
