.header {
    width: 100%;
    padding: 2.5rem 0;

    & > div {
        align-items: center;
        justify-content: space-between;
    }
}

.header__brand {
    span {
        @include fluid-type(14px, 24px);
        font-weight: bold;
    }
}

.nav__item {
    margin-left: 1rem;
}